table{


    width: 100%;
height: 200px;
text-align: center;
    border-collapse: collapse;

}
th{
    background-color: rgb(37, 37, 41);
    color: white;





}
.haseeb{
        background-color: rgb(16, 112, 112);





}








